@media (max-width: 375px) {
  .container {
    width: 100%;
    height: 100%;

    .header-container,
    .side-nav {
      display: none;
    }

    .mobile-nav {
      width: 100%;
      height: 72px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-top: 1px solid lightgray;

      i {
        font-size: 25px;
        color: #292929;
      }

      .notification-btn-mobile {
        position: relative;
        .notification-span-mobile {
          position: absolute;
          top: -15px;
          right: -15px;
          width: 23px;
          height: 20px;
          background: #fc1349 0% 0% no-repeat padding-box;
          border: 2px solid #ffffff;
          border-radius: 5px;
          display: none;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 16px;
        }
      }

      .hamburger-div {
        position: relative;

        .hamburger-span {
          position: absolute;
          bottom: -8px;
          left: 7px;
          width: 8px;
          height: 8px;
          background: #fc1349 0% 0% no-repeat padding-box;
          border-radius: 2px;
        }
      }
    }

    .add-alert-icon {
      position: absolute;
      bottom: 100px;
      left: 22px;
      width: 60px;
      height: 60px;
      background: #292929 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 10px #00000029;
      border-radius: 12px;
    }

    .for-your-attention {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 180px;
      left: 22px;
      width: 60px;
      height: 60px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 10px #00000029;
      border-radius: 12px;

      span {
        position: absolute;
        top: 2px;
        right: 5px;
        width: 21px;
        height: 18px;
        background: #fc1349 0% 0% no-repeat padding-box;
        border: 2px solid #ffffff;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
      }
    }

    .modal-container {
      z-index: 2;

      .modal {
        height: 710px;
        top: 56%;

        .close-btn {
          font-size: 30px;
        }

        .modal-header {
          font-size: 22px;
        }

        .modal-content {
          .modal-form {
            label {
              margin-bottom: 10px;
              font-size: 20px;
            }

            input {
              height: 22px;
            }

            .letter-count-div {
              top: 155px;
            }

            .save-alert-btn {
              bottom: 50px;
              left: 12px;
            }
          }
        }
      }
    }

    .mobile-nav {
      z-index: 1;
    }
  }

  .notifications-container {
    .gray-area {
      display: none;
    }

    .notifications {
      width: 100%;

      .notification-items-container {
        overflow-x: hidden;

        .notification-item:nth-child(1),
        .notification-item:nth-child(2),
        .notification-item:nth-child(3),
        .notification-item:nth-child(4) {
          display: flex;
        }
      }
    }

    .mark-all-read-container {
      width: 100%;
    }
  }
}
